* {
    font-family: 'Open Sans', sans-serif;
}

.preview {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem;
}

.card {
    border-radius: 10px;
    border: unset;
    overflow: hidden;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, .8);
}
.add-button{
    height: 46px;
    text-align: center;
}

.post-image {
    border-radius: 10px;
    width: 100%;
}
.comment-div{
    width: 100%;
    margin: 0 1rem;
}

.comment-button {
    margin: 0 1rem;
}
.post-text {
    line-height: 1.5rem;
}

.comment-image {
    width: 50px;
    height: 50px;
}
.other-comment-section{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.caption-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.other-comment{
    display: flex;
}

.ring {
    border: solid 4px red;
    width: 6rem;
    height: 6rem;
    color: red;
    display: flex;
    text-align: center;
    align-items: center;
}