{{> header}}
<form class="mx-auto col-lg-8" method="post" enctype="multipart/form-data">
    <h1 class="mb-5">Добавление статьи</h1>
    <div class="form-group">
        <label>Заголовок</label>
        <input class="form-control" type="text" name="name">
    </div>
    <div class="form-group">
        <label>Текст</label>
        <textarea class="form-control" name="text" rows="3"></textarea>
    </div>
    <span>Прикрепить изображение</span>
    <div class="mt-2 caption-container">
        <!--        <button id="photoButton" class="btn btn-secondary photo-button">-->
        <!--            <span class="fa fa-camera fa-2x"></span>-->
        <!--        </button>-->
        <input type="file" id="photoUpload" name="file">
        <div>
            <button class="btn btn-secondary text-white add-button">Отмена</button>
            <button type="submit" class="btn btn-primary text-white add-button">Добавить</button>
        </div>
    </div>
</form>
<script>
    document.getElementById('photoButton').addEventListener('click', openDialog);

    function openDialog() {
        document.getElementById('photoUpload').click();
    }
</script>
{{> footer}}