{{>header}}
<style>
    .big-text {
        font-size: 3rem;
        color: var(--orange);
    }
</style>
<meta http-equiv="refresh" content="5;/">
<p class="text-center big-text">Поздравляем вас с успешным добавлением статьи в блог</p>
{{>footer}}