{{> header}}
<div class="caption-container mb-5">
    <div>
        <img src="/images/UnitBean.svg" width="350" alt="UnitBean">
        <p style="font-size: 2rem;">Статьи, {{num}}</p>
    </div>
    <a class="ring rounded-circle" href="/add">
        Добавить статью
    </a>
</div>
<div class="row my-auto">
    {{#posts}}
        <div class="preview col-lg-6" onclick="location.href='/post/{{id}}';">
            <div class="card">
                <img style="width: 100%;"
                     src="{{getImage}}"
                     alt="Posts image">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <span>{{getFormatedDate}}</span>
                </div>
                <div class="card-body" style="border-top: 1px solid rgba(0,0,0,0.125);">
                    {{{getPreviewText}}}
                </div>
            </div>
        </div>
    {{/posts}}
</div>
{{> footer}}