{{> header}}
<div class="mx-auto col-lg-8">
    <form action="/">
        <button style="width: 100%" class="btn btn-primary">На главную</button>
    </form>

    {{#post}}
        <h1>{{name}}</h1>

        <img class="post-image mt-5"
             src="{{getImage}}"
             alt="Post image">
        <div class="mt-5 post-text">
            {{{getFormattedText}}}
            <form class="send-comment mt-5" method="post">
                <img class="comment-image rounded-circle"
                     src="/images/user.jpg" alt="">
                <div class="comment-div">
                    <input type="text" class="form-control mb-2" placeholder="Ваше имя" name="name">
                    <input type="text" class="form-control" placeholder="Ваш комментарий" name="text">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </form>
            {{#comments}}
                <div class="other-comment mt-3">
                    <img class="comment-image rounded-circle"
                         src="/images/user.jpg" alt="">
                    <div class="other-comment-section">
                        <b>{{name}}</b>
                        <small>{{getFormatedDate}}</small>
                        <span>{{text}}</span>
                    </div>
                </div>
            {{/comments}}
        </div>
    {{/post}}
</div>
{{> footer}}